<section class="footer-home">
  <div class="hgroup">
    <h1 class="footer-heading">We are based in the NYC metro area</h1>
    <h2 class="footer-heading-2">and available for face to face meetings in the city or in CT.</h2>
  </div>

  <div class="footer-icon">
    <div class="left-part">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="right-part">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

  <h2 class="footer-heading-3">We are also available for chat at</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="meetup-name">Northeast Javascript Conference</div>
        <div class="meetup-place">Stampford</div>
      </div>
      <div class="col-md-3">
        <div class="meetup-name">Fluent</div>
        <div class="meetup-place">San Jose</div>
      </div>
      <div class="col-md-3">
        <div class="meetup-name">Meteor Meetup</div>
        <div class="meetup-place">New York City</div>
      </div>
      <div class="col-md-3">
        <div class="meetup-name">WordPress Meetup</div>
        <div class="meetup-place">Stampford</div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-global text-md-center text-sm-center">
  <div class="footer-nav container d-flex">
    <div class="col-md-4">
      <h3 class="footer-nav-title">Sitemap</h3>
      <ul class="footer-link-list">
        <li>{{#link-to "about"}}About{{/link-to}}</li>
        <li>{{#link-to "about"}}Projects{{/link-to}}</li>
        <li>{{#link-to "about"}}Case Studies{{/link-to}}</li>
        <li>{{#link-to "about"}}Blog{{/link-to}}</li>
        <li>{{#link-to "about"}}Contact{{/link-to}}</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="footer-nav-title">Social</h3>
      <ul class="footer-link-list">
        <li><a href="/">GitHub</a></li>
        <li><a href="/">Facebook</a></li>
        <li><a href="/">Twitter</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3 class="footer-nav-title">Contact</h3>
      <p class="address">1-203-516-0101</p>
      <p class="address">ECMAStack, LLC</p>
      <p class="address">65 High Ridge Rd, #522<br>
        Stamford, CT 06905<br>
        USA</p>
    </div>
  </div>

  &copy; ECMAStack LLC, {{year}}. All rights reserved
</footer>
{{yield}}
