<div class="home-hero">
  <div class="container-fluid d-flex home-hero-content">
    <div class="row justify-content-between">
      <div class="col-md-6 home-intro col-sm-12">
        <h1 class="site-title">We help startups launch beautiful, functional MVPs in minimum time</h1>
        <h2 class="site-tagline">Expert MVP development so you can quickly attract customers and get investors on board</h2>
        <button class="btn">Let’s Get in Touch</button>
      </div>
      <div class="col-md-5 home-rocket hidden-sm-down">
        <div class="lib-icon angular"></div>
        <div class="lib-icon react"></div>
        <div class="lib-icon node"></div>
        <div class="lib-icon meteor"></div>
        <img src="/images/home-rocket.png" width="35%" class="home-rocket-img" alt="JavaScript development company" />
      </div>
    </div>
  </div>
</div>
{{yield}}
