<div class="home-hero">
  <div class="container d-flex home-hero-content">
    <div class="col-md-7 home-intro col-sm-12">
      <h1 class="site-title">Build custom software</h1>
      <h2 class="site-tagline">Our team is passionate about technology, especially when it comes to building software.  With over a decade of experience building customized softwares and the building and training of engineering teams, our service and capabilities make EcmaStack a powerful ally.  We have worked with agencies, startups and corporations alike to help them achieve goals with software.</h2>
      <button class="btn">Let’s Get in Touch</button>
    </div>
    <div class="col-md-5 hidden-sm-down">
      <img src="/images/code-illustration.svg" class="home-rocket-img" alt="JavaScript development company" />
    </div>
  </div>
</div>
{{yield}}
