<div class="home-hero services-hero">
  <div class="container-fluid home-hero-content">
    <div class="row justify-content-between">
      <div class="col-md-7 home-intro col-sm-12">
        <h1 class="site-title">Building apps, it’s what we do</h1>
        <h2 class="site-tagline">We use the latest in technology trends and language to build wicked fast, responsive and unique applications.</h2>
      </div>
      <div class="col-md-5 hidden-sm-down home-rocket-wrapper">
        <div class="home-rocket">
          <img src="/images/home-rocket.png" width="35%" class="home-rocket-img" alt="JavaScript development company" />
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
