<section class="home-section home-services">
  <div class="container">
    <h2 class="section-title text-md-center">How we can help you</h2>
    <div class="row">
      <div class="col-md-4">
        <img class="service-icon" src="/images/design-icon.svg" alt="web design services" />
        <h3 class="service-name">Gorgeous Graphic Design</h3>
        <p class="service-description">The first impression anybody will get of your business is the design, which is why we start each project with wireframes and UI to make sure your MVP looks great.</p>
      </div>

      <div class="col-md-4">
        <img class="service-icon" src="/images/ux-icon.svg" alt="web design services" />
        <h3 class="service-name">Seamless User Experience</h3>
        <p class="service-description">We invest a lot of effort to understand your users so we can make your MVP super useful and intuitive for your target audience.</p>
      </div>

      <div class="col-md-4">
        <img class="service-icon" src="/images/code-icon.svg" alt="web design services" />
        <h3 class="service-name">Clean, Functional Code</h3>
        <p class="service-description">Our projects are built using the most modern and powerful frameworks, including Node.js, Meteor.js, Angular.js, and React.</p>
      </div>
    </div>
  </div>
</section>
{{yield}}
