<section class="home-section container home-our-process">
  <h2 class="section-title text-md-center">What it’s like to work with us</h2>

  <article class="process-block right-bubble row">
    <div class="col-md-6">
      <h3 class="block-title">Collaborative Planning</h3>
      <p class="block-description">We use our experience building MVPs to help you define your idea in a way that we can turn into a real, professional-grade website or mobile app.</p>
    </div>
    <div class="col-md-6 hidden-xs-down">
      <img src="/images/collaborative-icon.svg" alt="Collaborative Planning" />
    </div>
  </article>

  <article class="process-block left-bubble row">
    <div class="col-md-6 hidden-xs-down text-right">
      <img src="/images/management-icon.svg" alt="Collaborative Planning" />
    </div>
    <div class="col-md-6">
      <h3 class="block-title">End-to-end Management</h3>
      <p class="block-description">A dedicated project manager on our side handles everything, meeting with you regularly to report on progress and making sure the project is implemented according to schedule.</p>
    </div>
  </article>

  <article class="process-block right-bubble row">
    <div class="col-md-6">
      <h3 class="block-title">Guaranteed Quality</h3>
      <p class="block-description">We practice agile development -- frequent iterations that incorporate your feedback and guarantee the project is on track to match exactly what you have in mind.</p>
    </div>
    <div class="col-md-6 hidden-xs-down">
      <img src="/images/quality-icon.svg" alt="Collaborative Planning" />
    </div>
  </article>

</section>
{{yield}}
