@import 'bootstrap';

$grey: #9BA9BF;
$blue: #0088FF;
$black: #1F2A3E;
$pink: #E22A70;
$red-pink: #EB4452;
$aqua: #F5FAFF;

// Predefined Break-points
$large: 1260px;
$medium: 960px;
$small: 480px;
$use-fadeIn: true;
$use-slideInLeft: true;

body {
  font-family: 'Lato', sans-serif;
}

@import "animate/_animate";
@import 'common';
@import 'header';
@import 'home';
@import 'work';
@import 'contact';
@import 'footer';
