.header {
  padding: 56px 60px 100px;
  background: #273555;
  background: -moz-linear-gradient(-35deg,  #273555 0%, #292d46 18%, #25293d 33%, #292d46 40%, #1c87fb 100%);
  background: -webkit-linear-gradient(-35deg,  #273555 0%,#292d46 18%,#25293d 33%,#292d46 40%,#1c87fb 100%);
  background: linear-gradient(125deg,  #273555 0%,#292d46 18%,#25293d 33%,#292d46 40%,#1c87fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#273555", endColorstr="#1c87fb",GradientType=1 );
}

.home-header {
  height: 800px;
}

.services-page-header.header{
  @extend .pink-gradient;
  margin-top: 0;
  padding-bottom: 0;

  .home-intro {
    margin-top: 46px;
  }

  .home-hero {
    height: 440px;

    .site-title {
      margin-bottom: 22px;
    }

    .home-rocket {
      height: 385px;
      flex-basis: 373px;
      background-size: contain;

      img {
        margin: 0 110px;
      }
    }
  }
}

.navigation a {
  color: #fff;
  padding-left: 40px;
  font-size: 18px;
  text-transform: lowercase;
}
