.header {
  padding: 56px 60px 73px;
  background: #273555;
  background: -moz-linear-gradient(-35deg,  #273555 0%, #292d46 18%, #25293d 33%, #292d46 40%, #1c87fb 100%);
  background: -webkit-linear-gradient(-35deg,  #273555 0%,#292d46 18%,#25293d 33%,#292d46 40%,#1c87fb 100%);
  background: linear-gradient(125deg,  #273555 0%,#292d46 18%,#25293d 33%,#292d46 40%,#1c87fb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#273555", endColorstr="#1c87fb",GradientType=1 );
}

.home-header {
  height: 800px;
}

.services-page-header.header,
.services-page .home-hero {
  background: #e22a70;
  margin-top: 0;
}

.navigation a {
  color: #fff;
  padding-left: 40px;
  font-size: 18px;
  text-transform: lowercase;
}
