.home-hero {
  height: 550px;
  margin-top: 73px;

  .home-intro {
    margin-top: 97px;
  }

  .site-title {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .site-tagline {
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .home-rocket-wrapper {
    display: flex;
    justify-content: center;
  }

  .home-rocket {
    position: relative;
    background: url('/images/home-rocket-background.svg') no-repeat;
    height: 454px;
    flex-basis: 471px;

    .home-rocket-img {
      max-height: 100%;
      width: auto;
      margin: 0 130px;
    }

    .lib-icon {
      position: absolute;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;

      &.react {
        left: 290px;
        top: 164px;

        &:after {
          content: "react.js";
        }
      }
      &.angular {
        left: 36px;
        top: 120px;

        &:after {
          content: "angular.js";
        }
      }
      &.node {
        left: 372px;
        top: 281px;

        &:after {
          content: "node.js";
        }
      }
      &.meteor {
        left: -5px;
        top: 305px;

        &:after {
          content: "meteor.js";
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        border: 4px solid #e53366;
        width: 26px;
        height: 26px;
        border-radius: 30px;
      }

      &:after {
        position: absolute;
        z-index: 2;
        top: 6px;
        left: 14px;
      }
    }
  }
}

.section-title {
  margin-bottom: 50px;
}

.home-our-process {
  padding-top: 128px;
  padding-bottom: 134px;

  .services-page & {
    padding-top: 71px;
  }

  &.container {
    max-width: 980px;
  }

  .process-block {
    margin-bottom: 28px;

    .services-page &:nth-child(5) {
      margin-top: 135px;
    }

    .services-page &:nth-child(6),
    .services-page &:nth-child(7) {
      margin-top: 100px;
    }
  }

  .block-title {
    color: #0088FF;
    margin: 88px auto 24px;
  }

  .block-description {
    font-size: 18px;
    color: #4F678B;
    line-height: 30px;
  }
}

.home-services {
  @extend .pink-gradient;
  padding: 110px 0 94px;
  color: #fff;

  .service-icon {
    margin: 12px auto 38px;
    display: block;
    height: 80px;
  }

  .service-name {
    margin-bottom: 25px;
    font-size: 24px;
    padding-left: 62px;
  }

  .service-description {
    font-size: 18px;
    padding-left: 62px;
  }
} // end of home-services

.home-projects {
  padding-top: 120px;
  padding-bottom: 120px;

  .project-title {
    font-size: 24px;
    color: $black;
    margin: 4px auto 92px;
  }

  .subtitle {
    color: $blue;
    font-size: 24px;
  }

  .selected-slide-number {
    display: inline-block;
    margin-left: 56px;
  }

  .selected-slide-number, .separator {
    font-size: 42px;
  }

  .number-of-slides, .separator {
    opacity: .5;
  }

  .number-of-slides {
    font-size: 24px;
  }

  .wrapper-nav {
    overflow: hidden;
    margin-top: 82px;

    .nav-items {
      background: #F5FAFF;
      float: right;
      padding: 15px 24px;
      border-radius: 130px;
      margin: 0;
    }

    .nav-item {
      list-style: none;
      float: left;
      padding: 0 20px;
      font-size: 24px;
      color: $blue;
      cursor: pointer;

      &:hover {
        color: $grey;
      }
    }
  }

  .project-image {
    text-align: center;
  }

  .project-solution {
    padding-left: 72px;
    line-height: 30px;
  }

  .description {
    margin-bottom: 28px;
  }

  .project-owner {
    display: flex;

    .photo {
      width: 64px;
      height: 64px;
      overflow: hidden;
      background: #a4cfff;
      border-radius: 64px;
      position: relative;
      margin-right: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 21px;
        height: 25px;
        background: #fff;
        border-radius: 50%;
        top: 14px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &:after {
        content: "";
        position: absolute;
        width: 39px;
        height: 40px;
        background: #fff;
        border-radius: 50%;
        top: 36px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .owner-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .owner-name {
      font-size: 18px;
    }

    .owner-job {
      text-transform: uppercase;
      font-size: 12px;
      opacity: .5;
    }
  }
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
} // end slider-wrapper

.home-cta {
  background: #F5FAFF;
  padding: 100px 0 110px;
  text-align: center;
  color: #0088FF;

  .home-cta-title {
    font-size: 125px;
    opacity: .3;
    margin: -34px 0 -45px 0;
  }

  .home-cta-subtitle {
    font-size: 30px;
    max-width: 500px;
    margin: 0 auto 44px;
    line-height: 1.3;
  }

  .btn {
    padding: 24px 35px;
    font-size: 21px;
    box-shadow: 2px 4px 27px -7px #333;
    &:hover {
      box-shadow: none;
    }
  }
}

.home-clients {
  padding: 64px 0;
  background: #212A3D;

  .container {
    display: flex;
    @include media-breakpoint-only(xs) {
      display: block;
      overflow: hidden;
      text-align: center;
    }
  }

  .client-logo {
    flex: 1;
    max-height: 54px;
    @include media-breakpoint-only(xs) {
      width: 30%;
      margin: 1%;
    }
  }
} // end home-clients

.home-mvp {
  background: url(/images/mvp-cake.svg) no-repeat center 92px #fff;
  text-align: center;
  padding: 260px 0 100px;

  .container {
    max-width: 798px;
  }

  .home-mvp-title {
    font-size: 36px;
    margin-bottom: 44px;

    em {
      font-style: normal;
      color: #0088FF;
    }
  }

  .home-mvp-subtitle {
    color: #6E7785;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .email-us {
    margin: 104px auto;
    padding: 0 0 0 60px;
    text-align: left;
    background: url(/images/email-icon.svg) no-repeat left;
    .title {
      display: block;
      font-size: 24px;
      color: $grey;
      margin-bottom: -20px;
    }
    .email-cta {
      color: $blue;
      font-size: 42px;
      @include media-breakpoint-only(xs) {
        font-size: 30px;
      }
    }
  }

} // end home-cta


.footer-home {
  height: 728px;
  position: relative;
  background: #212a3d;
  background: url("/images/nyc-skyline.svg"), -moz-linear-gradient(-30deg,  #212a3d 0%, #212a3d 40%, #1c89ff 100%);
  background: url("/images/nyc-skyline.svg"), -webkit-linear-gradient(-30deg,  #212a3d 0%,#212a3d 40%,#1c89ff 100%);
  background: url("/images/nyc-skyline.svg"), linear-gradient(120deg,  #212a3d 0%,#212a3d 40%,#1c89ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212a3d', endColorstr='#1c89ff',GradientType=1 );
  text-align: center;
  padding: 130px 0;
  background-repeat: no-repeat;
  background-position: bottom;

  .footer-heading {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 14px;
  }

  .footer-heading-2 {
    font-size: 24px;
    color: #9BA9BF;
    margin-bottom: 2px;
  }

  .footer-heading-3 {
    font-size: 30px;
    color: #fff;
    margin: 10px auto 38px;
  }

  .footer-icon {
    display: flex;
    justify-content: center;

    .right-part {
      margin: 14px 5px 0;
      width: 29px;
      display: flex;
      flex-direction: column;

      .line {
        @extend .pink-gradient;
        height: 2px;
        margin-bottom: 6px;
      }

      .line:nth-child(1) {
        width: 30px;
      }

      .line:nth-child(2) {
        width: 18px;
      }

      .line:nth-child(3) {
        width: 12px;
      }
    }

    .left-part {
      @extend .right-part;
      transform: rotateY(180deg);
      margin-top: 22px;
    }
  }

  .meetup-name, .meetup-place {
    font-size: 18px;
    text-align: left;
  }
  
  .meetup-name {
    color: #49a0ff;
  }
  
  .meetup-place {
    color: #9da9bd;
  }
} // end footer-home
