<div class="home-hero">
  {{header-global}}
  <div class="container home-hero-content">
    <div class="col-md-7 home-intro">
      <h1 class="site-title">We help startups launch beautiful, functional MVPs in minimum time</h1>
      <h2 class="site-tagline">Expert MVP development so you can quickly attract customers and get investors on board</h2>
      <button class="btn">Let’s Get in Touch</button>
    </div>
    <div class="col-md-5 home-rocket">
      <img src="/images/home-rocket.svg" class="home-rocket-img" alt="JavaScript development company" />
    </div>
  </div>
</div>

{{home-our-process}}
{{home-services}}

<div class="home-cta">
  <h1 class="home-cta-title">Your turn</h1>
  <h2 class="home-cta-subtitle">Get fast &amp; robust solutions for your next project with ECMAStack.</h2>
  <button class="btn">Let’s Get in Touch</button>
</div>

<div class="footer-home">
  <h1 class="footer-heading">We are based in the NYC metro area</h1>
  <h2 class="footer-heading-2">and available for face to face meetings in the city or in CT.</h2>
</div>
{{footer-global}}
