{{home-our-process}}
{{home-services}}
{{home-projects}}

<section class="home-cta">
  <h1 class="home-cta-title">Your turn</h1>
  <h2 class="home-cta-subtitle">Get fast &amp; robust solutions for your next project with ECMAStack.</h2>
  <button class="btn">Let’s Get in Touch</button>
</section>

<section class="home-clients">
  <div class="container">
    <img class="client-logo" src="images/bizlybw.svg" alt="Bizly" />
    <img class="client-logo" src="images/sloohbw.svg" alt="Slooh" />
    <img class="client-logo" src="images/giffybw.svg" alt="GiftFly" />
    <img class="client-logo" src="images/classmatebw.svg" alt="classmate" />
    <img class="client-logo" src="images/minellibw.svg" alt="minelli" />
  </div>
</section>

<section class="home-mvp">
  <div class="container">
    <h1 class="home-mvp-title">At ECMA Stack, we are experts in building <em>MVPs</em> that are <em>fast, beautiful, and efficient.</em></h1>
    <h2 class="home-mvp-subtitle">Are we the right partner for you? Get in touch and let’s find out.</h2>

    <div class="email-us col-md-6 col-xs-12">
      <span class="title">Write us</span>
      <a class="email-cta text-xs-left" href="mailto:hello@ecmastack.com">hello@ecmastack.com</a>
    </div>
  </div>
</section>

<section class="footer-home">
  <h1 class="footer-heading">We are based in the NYC metro area</h1>
  <h2 class="footer-heading-2">and available for face to face meetings in the city or in CT.</h2>
</section>
