<section class="home-clients work-clients">
  <h2 class="text-md-center">Our Clients</h2>
  <div class="container d-flex">
    <img class="client-logo" src="images/bizlybw.svg" alt="Bizly" />
    <img class="client-logo" src="images/sloohbw.svg" alt="Slooh" />
    <img class="client-logo" src="images/giffybw.svg" alt="GiftFly" />
    <img class="client-logo" src="images/classmatebw.svg" alt="classmate" />
    <img class="client-logo" src="images/minellibw.svg" alt="minelli" />
  </div>
</section>

<section class="home-section container d-flex home-our-process">
  <h2 class="section-title text-md-center">Software and App Development Services</h2>

  <article class="process-block right-bubble row">
    <div class="col-md-7">
      <h3 class="block-title">Software Engineering</h3>
      <p class="block-description">
        We work with the best and most creative engineers available in the market.  We build software through the encouragement of excellent developer culture.
      </p>
    </div>
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/collaborative-icon.svg" alt="Collaborative Planning" />
    </div>
  </article>

  <article class="process-block left-bubble row">
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/management-icon.svg" alt="Collaborative Planning" />
    </div>
    <div class="col-md-7">
      <h3 class="block-title">Front End Development</h3>
      <p class="block-description">
        The uniqueness of our business is how we build fast and beautiful interfaces for people to use.  The front end is the face of your business, it should be done well.
      </p>
    </div>
  </article>

  <article class="process-block right-bubble row">
    <div class="col-md-7">
      <h3 class="block-title">API Development</h3>
      <p class="block-description">
        Our API’s and services focus on gathering data and presenting it for a host of clients to use their application tier.  We leverage technologies like Node.js and GraphQL to achieve excellent orchestration between client and server.
      </p>
    </div>
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/quality-icon.svg" alt="Collaborative Planning" />
    </div>
  </article>

  <article class="process-block left-bubble row">
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/management-icon.svg" alt="Collaborative Planning" />
    </div>
    <div class="col-md-7">
      <h3 class="block-title">Training</h3>
      <p class="block-description">
        Fast track your development team into modern technologies like React / Redux and Node.js through one of our training programs.  Contact us to learn more about what we have available.
      </p>
    </div>
  </article>

  <article class="process-block right-bubble row">
    <div class="col-md-7">
      <h3 class="block-title">User Experience Engineering</h3>
      <p class="block-description">
        Work with our professional network of user experience engineers.  Our team is top notch in understanding the users needs in human computer interaction.  We focus on making your software super easy to use.
      </p>
    </div>
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/quality-icon.svg" alt="Collaborative Planning" />
    </div>
  </article>

  <article class="process-block left-bubble row">
    <div class="col-md-5 hidden-xs-down">
      <img src="/images/management-icon.svg" alt="Collaborative Planning" />
    </div>
    <div class="col-md-7">
      <h3 class="block-title">Brand Development</h3>
      <p class="block-description">
        We are experts in brand development.  Logo, color scheme, brand style guides are all a part of how we create a rich and meaningful brand.
      </p>
    </div>
  </article>

</section>
{{yield}}


{{outlet}}
